.Employees {
	padding-bottom: 24px;
	margin-bottom: 17px;
	border-bottom: 2px solid #e1e1e1;
}

.secondaryTitle {
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: 30px;
	font-weight: 400;
	cursor: pointer;
	transition: margin-bottom 0.5s ease;
}

.secondaryTitle.expandedTitle {
	margin-bottom: 17px;
}

.secondaryTitle .titleIcon {
	transition: transform 0.3s ease;
	transform: translateY(4px);
}

.secondaryTitle .titleIcon.expandedIcon {
	transform: rotate(180deg);
}

.employeesCont {
	display: grid;
	gap: 17px;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	overflow: hidden;
}

.employeesCont.show {
	opacity: 1;
}

.employeesCont.hide {
	max-height: 0;
	opacity: 0;
}

.addButton {
	background: var(--main-color);
	color: var(--white);
	padding: 13px 0;
	border-radius: 30px;
	transition: opacity 0.3s ease;
}

@media (max-width: 1024px) {
	.secondaryTitle {
		font-size: 26px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 15px;
	}

	.employeesCont {
		gap: 15px;
	}

	.addButton {
		padding: 11px 0;
	}
}

@media (max-width: 768px) {
	.secondaryTitle {
		font-size: 22px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 12px;
	}

	.employeesCont {
		gap: 12px;
	}

	.addButton {
		padding: 10px 0;
	}
}

@media (max-width: 480px) {
	.secondaryTitle {
		font-size: 20px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 10px;
	}

	.employeesCont {
		gap: 10px;
	}

	.addButton {
		padding: 8px 0;
		border-radius: 25px;
	}
}
