.checkboxContainer {
	display: flex;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.checkbox {
	display: none;
}

.customCheckbox {
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 4px;
	transition: all 0.2s ease;
	margin-right: 8px;
	position: relative;
	background-color: white;
}

.checked {
	border-color: var(--main-color);
	background-color: var(--main-color);
}

.customCheckbox::after {
	content: '';
	position: absolute;
	left: 4px;
	top: 0px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
	opacity: 0;
	transition: opacity 0.2s ease;
}

.checked::after {
	opacity: 1;
}

.label {
	font-size: 16px;
	color: #333;
}
