.modal {
	max-width: max-content;
	min-width: 500px;
	width: 100%;
	border: none;
	outline: none;
	padding: 10px;
	border-radius: 5px;
	min-height: 50px;
	max-height: 500px;
}

.modal .closeBtn {
	position: absolute;
	right: 10px;
	top: 10px;
}

.modal::backdrop {
	backdrop-filter: blur(5px);
}
