.title {
    color: var(--main-title-color);
    font-weight: 800;
    font-size: 42px;
    margin-bottom: 15px;
}

.subTitle {
    font-weight: 800;
    font-size: 32px;
}

.description {
    font-weight: 500;
    font-size: 16px;
}

.container {
    padding: 0 15px;
    gap: 30px;
    width: 70%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto; /* Center the container */
}

@media (max-width: 1200px) {
    .container {
        width: 80%; /* Increase width to utilize more screen space */
        padding: 0 20px; /* Slightly increase padding for better spacing */
        gap: 25px; /* Slightly reduce the gap */
    }
}

@media (max-width: 1024px) {
    .container {
        width: 85%;
        padding: 0 15px;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 0 10px;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .container {
        width: 100%; /* Full width on very small screens */
        padding: 0 5px;
        gap: 15px; /* Further reduce the gap */
    }
}

.header,
.about,
.advantages,
.fees,
.footer {
    display: flex;
    justify-content: center;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
    padding-top: 80px;
}

html {
    scroll-behavior: smooth;
}

/* General Header Styles */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.header .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateY(-4px);
}

.header .logo img {
    width: 39px;
}

.header .logo div {
    font-size: 24px;
    font-weight: 500;
    color: var(--main-color);
}

/* Desktop View (above 1024px) */
.header .nav {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-end;
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    flex-direction: row;
    opacity: 1;
    transform: none;
    transition: none;
}

.header .navLink {
    cursor: pointer;
    text-decoration: none;
    color: #333;
    position: relative;
    font-size: 18px;
    line-height: 1.44;
    font-weight: 500;
    padding-bottom: 5px;
}

.header .navLink.active {
    border-bottom: 2px solid var(--main-color);
}

.header .navLink:hover {
    color: var(--main-color);
}

.header .hamburger {
    display: none; /* Hide hamburger on desktop */
}

/* Mobile and Tablet View (1024px and below) */
@media (max-width: 1024px) {
    .header .container {
        padding: 0 15px;
    }

    .header .logo div {
        font-size: 22px;
    }

    .header .nav {
        display: none; /* Hide the nav links initially */
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2000;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .header .navOpen {
        display: flex; /* Show the nav links when menu is open */
        transform: translateX(0);
        left: 0;
        opacity: 1;
    }

    .header .navLink {
        font-size: 20px;
        margin: 20px 0;
    }

    .header .hamburger {
        display: block;
        cursor: pointer;
        width: 30px;
        height: 30px;
        position: relative;
        z-index: 3000;
        transition: transform 0.3s ease;
    }

    .header .hamburger div {
        width: 100%;
        height: 3px;
        background-color: #333;
        position: absolute;
        left: 0;
        transition: transform 0.3s ease;
    }

    .header .hamburger div:nth-child(1) {
        top: 8px;
    }

    .header .hamburger div:nth-child(2) {
        top: 15px;
    }

    .header .hamburger div:nth-child(3) {
        top: 22px;
    }

    .header .hamburger.hamburgerOpen div:nth-child(1) {
        transform: rotate(45deg);
        top: 15px;
    }

    .header .hamburger.hamburgerOpen div:nth-child(2) {
        opacity: 0;
    }

    .header .hamburger.hamburgerOpen div:nth-child(3) {
        transform: rotate(-45deg);
        top: 15px;
    }
}

@media (max-width: 768px) {
    .header {
        padding: 15px 0;
    }

    .header .container {
        padding: 0 10px;
    }

    .header .logo div {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .header {
        padding: 10px 0;
    }

    .header .logo div {
        font-size: 18px;
    }

    .header .container {
        padding: 0 5px;
    }
}

.about {
    padding: 40px 0;
    padding-top: 80px;
}

.about h1,
.about p {
    text-align: center;
    margin: 0 auto;
}

.about h1 {
    margin-bottom: 30px;
    max-width: 650px;
    font-size: 42px;
}

.about p {
    max-width: 820px;
    margin-bottom: 40px;
    font-size: 24px;
}

.about img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .about {
        padding: 35px 0;
        padding-top: 70px;
    }

    .about h1 {
        font-size: 28px;
        max-width: 550px;
    }

    .about p {
        font-size: 16px;
        max-width: 450px;
    }
}

@media (max-width: 768px) {
    .about {
        padding: 30px 0;
        padding-top: 50px; /* Reduced padding-top */
    }

    .about h1 {
        font-size: 24px;
        max-width: 500px;
    }

    .about p {
        font-size: 15px;
        max-width: 400px;
    }

    .about img {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .about {
        padding: 25px 0;
        padding-top: 40px; /* Further reduced padding-top */
    }

    .about h1 {
        font-size: 20px;
        max-width: 400px;
    }

    .about p {
        font-size: 14px;
        max-width: 350px;
    }

    .about img {
        width: 100%;
    }
}


.fees {
    padding: 40px 0;
}

.fees h1 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.fees .fees_p {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.fees .fees_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 35px;
}

.fees .fees_item {
    flex: 1 1 calc(33.333% - 70px);
    max-width: calc(33.333% - 70px);
    padding: 20px 15px;
    border: 1px solid #516796;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.fees .fees_item h4 {
    color: #516796;
    font-weight: 400;
    padding: 0 30px;
    padding-bottom: 5px;
    border-bottom: 1px solid #516796;
    margin-bottom: 10px;
}

.fees .fees_item p {
    color: #516796;
    margin-bottom: 55px;
}

.fees .fees_item div {
    color: #354d84;
    font-size: 27px;
    margin-bottom: 40px;
}
