.block {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0 10px;
}

.form {
	max-width: 500px;
	width: 100%;
	background: white;
	padding: 20px;
	border-radius: 8px;
}

.inputs {
	padding: 24px 0;
	display: grid;
	gap: 17px;
}

.title {
	display: flex;
	justify-content: center;
}

.title > div {
	display: flex;
	align-items: center;
	text-align: center;
	column-gap: 10px;
}

.title > div h2 {
	color: var(--main-title-color);
	font-size: 35px;
	font-weight: 400;
	margin: 0;
}

.title > div a {
	transform: translateY(4px);
}

.resetLinkBlock {
	display: flex;
	justify-content: center;
}

.resetLinkBlock > div {
	display: flex;
	column-gap: 10px;
	row-gap: 5px;
	align-items: center;
}

.resetLinkBlock > div > a {
	color: var(--main-color);
	text-decoration: none;
}

.resetLinkBlock > div > a:hover {
	text-decoration: underline;
}

@media (max-width: 360px) {
	.form {
		padding: 15px;
	}

	.inputs {
		padding: 16px 0;
		gap: 12px;
	}

	.form .title > div h2 {
		font-size: 22px;
	}

	.form .resetLinkBlock > div {
		font-size: 13px;
		flex-direction: column;
	}
}

@media (min-width: 361px) and (max-width: 383px) {
	.form {
		padding: 18px;
	}

	.inputs {
		padding: 18px 0;
		gap: 14px;
	}

	.form .title > div h2 {
		font-size: 23px;
	}

	.form .resetLinkBlock > div {
		font-size: 13px;
		flex-direction: column;
	}
}

@media (min-width: 384px) and (max-width: 480px) {
	.form {
		padding: 18px;
	}

	.inputs {
		padding: 18px 0;
		gap: 14px;
	}

	.form .title > div h2 {
		font-size: 24px;
	}

	.form .resetLinkBlock {
		font-size: 14px;
	}

	.form .resetLinkBlock > div {
		font-size: 13px;
		flex-direction: column;
	}
}

@media (min-width: 481px) and (max-width: 834px) {
	.inputs {
		padding: 20px 0;
	}

	.form .title > div h2 {
		font-size: 26px;
	}

	.form .resetLinkBlock > div {
		font-size: 13px;
		flex-direction: column;
	}
}

@media (min-width: 835px) and (max-width: 1024px) {
	.inputs {
		padding: 22px 0;
	}

	.form .title > div h2 {
		font-size: 28px;
	}
}

@media (min-width: 1025px) {
	.form {
		padding: 20px;
	}

	.inputs {
		padding: 24px 0;
		gap: 17px;
	}

	.form .title > div h2 {
		font-size: 30px;
	}
}
