.form {
	max-width: 500px;
	width: 100%;
}

.inputs {
	padding: 24px 0px;
	display: grid;
	gap: 17px;
}

.form .title {
	color: var(--main-title-color);
	font-weight: 400;
	display: flex;
	justify-content: center;
}

.form .title > div {
	display: flex;
	align-items: center;
	text-align: center;
	column-gap: 10px;
}

.form .title > div h2 {
	font-size: 35px;
}

.form .title > div a {
	transform: translateY(4px);
}

.form .resetLinkBlock {
	display: flex;
	justify-content: center;
}

.form .resetLinkBlock > div {
	display: flex;
	column-gap: 10px;
}

.form .resetLinkBlock > div > a {
	color: var(--main-color);
}
.form .resetLinkBlock > div > a:hover {
	text-decoration: underline;
}
