.OrdersInWareHouse {
	display: grid;
	gap: 10px;
	margin: 20px 0;
}

.secondaryTitle {
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: 30px;
	font-weight: 400;
	cursor: pointer;
	transition: margin-bottom 0.5s ease;
}

.secondaryTitle.expandedTitle {
	margin-bottom: 17px;
}

.secondaryTitle .titleIcon {
	transition: transform 0.3s ease;
	transform: translateY(4px);
}

.secondaryTitle .titleIcon.expandedIcon {
	transform: rotate(180deg);
}

.ordersCont {
	display: grid;
	gap: 17px;
	transition: max-height 0.5s ease, opacity 0.5s ease;
	width: 100%;
	overflow-x: auto;
	max-width: 100vw;
}

.ordersCont.show {
	opacity: 1;
}

.ordersCont.hide {
	max-height: 0;
	opacity: 0;
}

@media (max-width: 1024px) {
	.OrdersInWareHouse {
		gap: 8px;
		margin: 15px 0;
	}

	.secondaryTitle {
		font-size: 26px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 15px;
	}
}

@media (max-width: 768px) {
	.OrdersInWareHouse {
		gap: 7px;
		margin: 12px 0;
	}

	.secondaryTitle {
		font-size: 22px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 12px;
	}
}

@media (max-width: 480px) {
	.OrdersInWareHouse {
		gap: 5px;
		margin: 10px 0;
	}

	.secondaryTitle {
		font-size: 20px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 10px;
	}
}
