.table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
	overflow: hidden;
}

.table thead {
	background: var(--main-color);
	color: white;
}

.table thead th {
	font-weight: 300;
	font-size: 22px;
}

.table th,
.table td {
	padding: 11px 15px;
	border: 1px solid #d7d7d7;
}

.table thead th:first-child {
	border-top-left-radius: 15px;
}

.table thead th:last-child {
	border-top-right-radius: 15px;
}

.table tr:last-child td:first-child {
	border-bottom-left-radius: 15px;
}

.table tr:last-child td:last-child {
	border-bottom-right-radius: 15px;
}

.table th {
	text-align: left;
}

.table td {
	color: var(--main-text-color);
	font-size: 14px;
}

.table td.center,
.table th.center {
	text-align: center;
}

.table .table .detailTd {
	border: none;
	text-align: center;
}

.table thead th:first-child,
.table tr td:first-child {
	width: 50px;
	text-align: center;
}
