.container {
    padding: 0 15px;
    gap: 30px;
    width: 70%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: 0 auto; /* Center the container */
}

.imageWrapper {
    padding-top: 40px;
}
.flexWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}
.boxWrapper {
    padding: 16px 0;
}


.about img {
    display: block;
    max-width: 80%;
    border-radius: 12px;
    height: auto;
    margin: 0 auto;
}
.about {
    padding: 40px 0;
    padding-top: 80px;
}