.container {
    padding: 0 15px;
    gap: 30px;
    width: 70%;
    max-width: 1400px;
    box-sizing: border-box;
    margin: 0 auto; /* Center the container */
}

.imageWrapper {
    padding-top: 40px;
}
.flexWrapper {
    display: flex;
    justify-content: center;
    text-align: center;
}
.boxWrapper {
    padding: 16px 0;
}


.about img {
    display: block;
    max-width: 100%;
    border-radius: 12px;
    height: auto;
    margin: 0 auto;
}
.about {
    padding: 40px 0;
    padding-top: 80px;
}

.videoWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding-top: 80px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.videoWrapper iframe {
    width: 90%;
    height: 29vw;
}

@media (max-width: 600px) {
    .videoWrapper iframe {
        width: 320px;
        height: 240px;
    }
}

@media (max-width: 300px) {
    .videoWrapper iframe {
        width: 213px;
        height: 160px;
    }
}