.container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 17px;
	margin-bottom: 24px;
	border-bottom: 2px solid #e1e1e1;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: start;
	row-gap: 17px;
	font-size: 23px;
}

.status {
	display: flex;
	align-items: center;
	column-gap: 10px;
}

.status p,
.info p {
	margin: 0;
}

.statusBlock {
	font-size: 18px;
}

.status div {
	margin: 0;
	padding: 5px 10px;
}

.button {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (max-width: 1024px) {
	.container {
		flex-direction: column;
		gap: 20px;
	}

	.info {
		font-size: 21px;
	}

	.statusBlock {
		font-size: 16px;
	}
}

@media (max-width: 768px) {
	.container {
		flex-direction: column;
		gap: 20px;
	}

	.info {
		font-size: 18px;
	}

	.statusBlock {
		font-size: 15px;
	}

	.button {
		width: 100%;
		align-items: center;
	}
}

@media (max-width: 480px) {
	.container {
		flex-direction: column;
		gap: 15px;
	}

	.info {
		font-size: 16px;
	}

	.statusBlock {
		font-size: 14px;
	}

	.button {
		width: 100%;
		align-items: center;
	}
}
