.container {
	display: flex;
	justify-content: space-between;
	padding-bottom: 17px;
	margin-bottom: 24px;
	border-bottom: 2px solid #e1e1e1;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: start;
	row-gap: 17px;
	font-size: 23px;
}

.status {
	display: flex;
	align-items: center;
	gap: 8px;
}

.status div {
	margin: 0;
	padding: 5px 10px;
}
