/* EnterEmployeeEmail.module.css */
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.popup {
	background: white;
	padding: 25px 50px;
	border-radius: 8px;
	position: relative;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup h2 {
	color: var(--main-title-color);
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 20px;
}

.closeButton {
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	border: none;
	font-size: 27px;
	cursor: pointer;
}

.inputBox {
	margin-bottom: 20px;
}

.buttonBox {
	display: flex;
	justify-content: center;
}
