.section {
	min-height: 100vh;
	min-height: 100svh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}

.success {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	border-radius: 100%;
	background: #b2e9fb;
	margin-bottom: 20px;
}

.section > div {
	text-align: center;
}

.title {
	color: var(--main-title-color);
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 20px;
}

.navigation {
	display: flex;
	justify-content: center;
}

.navigationCont {
	display: flex;
	column-gap: 20px;
	row-gap: 10px;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
}

.register_link {
	display: flex;
	align-items: center;
	column-gap: 8px;
	text-align: center;
}

.register_link > div {
	color: var(--main-color);
}

.button {
	padding: 12px 20px;
	font-size: 16px;
}

@media (max-width: 360px) {
	.success {
		padding: 15px;
		margin-bottom: 15px;
	}

	.title {
		font-size: 20px;
		margin-bottom: 15px;
	}

	.navigationCont {
		column-gap: 15px;
	}

	.button {
		padding: 10px 15px;
		font-size: 14px;
	}
}

@media (min-width: 361px) and (max-width: 414px) {
	.success {
		padding: 20px;
		margin-bottom: 18px;
	}

	.title {
		font-size: 24px;
		margin-bottom: 18px;
	}

	.navigationCont {
		column-gap: 20px;
	}

	.button {
		padding: 12px 18px;
		font-size: 15px;
	}
}

@media (min-width: 415px) and (max-width: 834px) {
	.success {
		padding: 25px;
		margin-bottom: 20px;
	}

	.title {
		font-size: 28px;
		margin-bottom: 20px;
	}

	.navigationCont {
		column-gap: 25px;
	}

	.button {
		padding: 14px 20px;
		font-size: 16px;
	}
}

@media (min-width: 835px) and (max-width: 1024px) {
	.success {
		padding: 28px;
		margin-bottom: 25px;
	}

	.title {
		font-size: 32px;
		margin-bottom: 25px;
	}

	.navigationCont {
		column-gap: 28px;
	}

	.button {
		padding: 16px 25px;
		font-size: 17px;
	}
}

@media (min-width: 1025px) {
	.success {
		padding: 30px;
		margin-bottom: 27px;
	}

	.title {
		font-size: 35px;
		margin-bottom: 27px;
	}

	.navigationCont {
		column-gap: 30px;
	}

	.button {
		padding: 18px 30px;
		font-size: 18px;
	}
}
