.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    padding: 3px 5px;
    border: 1.5px solid #B0B0B0;
    width: 223px;
    font-size: 14px;
    border-radius: 5px;
}
.current {
    background: #C0E6FA;
    padding: 3px;
    border-radius: 100%;
    position: relative;
}
.arrow {
    margin: 0 20px;;
}
span {
    padding: 3px;
}