.block {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	box-sizing: border-box;
}

.title {
	text-align: center;
	color: var(--main-title-color);
	font-weight: 400;
	font-size: 35px;
	margin-bottom: 25px;
}

.button {
	display: flex;
	justify-content: center;
}

.errorMessage {
	color: red;
	margin-top: 10px;
	font-size: 14px;
}

@media (max-width: 360px) {
	.title {
		font-size: 22px;
		margin-bottom: 20px;
	}

	.button {
		padding: 0 10px;
	}
}

@media (min-width: 361px) and (max-width: 414px) {
	.title {
		font-size: 26px;
		margin-bottom: 22px;
	}

	.button {
		padding: 0 15px;
	}
}

@media (min-width: 415px) and (max-width: 834px) {
	.title {
		font-size: 30px;
		margin-bottom: 24px;
	}

	.button {
		padding: 0 20px;
	}
}

@media (min-width: 835px) and (max-width: 1024px) {
	.title {
		font-size: 32px;
		margin-bottom: 25px;
	}
}

@media (min-width: 1025px) {
	.title {
		font-size: 35px;
		margin-bottom: 25px;
	}
}
