.sideMenu {
	position: sticky;
	top: 0;
	left: 0;
	max-width: 250px;
	width: 100%;
	height: calc(100vh - 1px);
	height: calc(100svh - 1px);
	padding: 0 6px;
	padding-top: 100px;
	padding-bottom: 10px;
}

.navigation {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.navList {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;
	flex: 1;
}

.navList li {
	margin-bottom: 13px;
}

.navList li img {
	width: 25px;
}

.navList li:last-child {
	margin-top: auto;
	color: var(--secondary-text-color);
}

.navigation a {
	width: 100%;
	padding: 15px;
	display: flex;
	align-items: center;
	column-gap: 15px;
	text-decoration: none;
	color: inherit;
}

.navigation a.active {
	background: var(--secondary-color);
	border-radius: 15px;
}
