.sideMenu {
	position: sticky;
	top: 0;
	left: 0;
	max-width: 300px;
	width: 100%;
	height: calc(100vh - 1px);
	height: calc(100svh - 1px);
	background: var(--main-color);
	color: white;
	padding: 10px;
	padding-top: 85px;
}

.navigation {
    display: grid;
    align-content: space-between;
    height: 100%;
}

.navigation a {
	width: 100%;
	padding: 10px 15px;
	display: block;
}

.navigation a.active {
	background: var(--main-button-color);
	border-radius: 10px;
}
