.section {
	padding: 0 20px;
	padding-bottom: 40px;
	width: 100%;
}

.title {
	color: var(--main-title-color);
	font-weight: 400;
	font-size: 35px;
	padding: 24px 0;
	border-bottom: 2px solid #e1e1e1;
	margin-bottom: 36px;
}

.info {
	font-size: 25px;
	margin-bottom: 24px;
}

.inputs {
	display: grid;
	gap: 17px;
}
