.header {
	padding: 20px 0;
	background: var(--white);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.headerCont {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 22px;
}

.headerCont a {
	display: flex;
	align-items: center;
	gap: 8px;
}

.logo {
	font-size: 32px;
	font-weight: 500;
	color: var(--main-color);
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 15px;
}

.logo img {
	width: 38px;
}

.block {
	display: flex;
	align-items: center;
	column-gap: 60px;
}

.support {
	font-size: 18px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.support .icon {
	width: 30px; /* Set the same size as the user image */
	height: 30px;
}

.userName {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

.block .image img {
	width: 30px; /* Set the same size as the icon */
	object-fit: cover;
	border-radius: 100%;
	transform: translateY(2px);
}

/* Responsive Styles */
@media (max-width: 480px) {
	.block_text {
		display: none;
	}

	.header {
		padding: 12px 0;
	}

	.headerCont {
		padding: 0px 12px;
	}

	.logo {
		font-size: 20px;
		gap: 10px;
	}

	.logo img {
		width: 28px;
	}

	.block {
		align-items: flex-start;
		column-gap: 25px;
	}

	.support {
		font-size: 14px;
		gap: 8px;
	}

	.support .icon {
		width: 25px; /* Ensure consistency between icon and image */
		height: 25px;
	}

	.userName {
		font-size: 12px;
	}

	.block .image img {
		width: 25px;
	}
}

@media (min-width: 481px) and (max-width: 834px) {
	.block_text {
		display: none;
	}

	.header {
		padding: 16px 0;
	}

	.headerCont {
		padding: 0px 16px;
	}

	.logo {
		font-size: 26px;
	}

	.support {
		font-size: 15px;
		gap: 8px;
	}

	.support .icon {
		width: 30px;
		height: 30px;
	}

	.logo img {
		width: 32px;
	}

	.block {
		column-gap: 30px;
	}

	.block .image img {
		width: 30px;
	}

	.userName {
		font-size: 14px;
	}
}

@media (min-width: 835px) and (max-width: 1024px) {
	.header {
		padding: 18px 0;
	}

	.headerCont {
		padding: 0px 18px;
	}

	.support {
		font-size: 16px;
		gap: 10px;
	}

	.support .icon {
		width: 35px;
		height: 35px;
	}

	.logo {
		font-size: 28px;
	}

	.block .image img {
		width: 35px;
	}

	.userName {
		font-size: 16px;
	}
}

@media (min-width: 1025px) and (max-width: 1440px) {
	.headerCont {
		padding: 0px 22px;
	}

	.logo {
		font-size: 32px;
	}

	.block {
		column-gap: 40px;
	}

	.support {
		font-size: 17px;
		gap: 10px;
	}

	.support .icon {
		width: 40px;
		height: 40px;
	}

	.block .image img {
		width: 40px;
	}

	.userName {
		font-size: 17px;
	}
}

@media (min-width: 1441px) {
	.headerCont {
		padding: 0px 22px;
	}

	.logo {
		font-size: 34px;
	}

	.block {
		column-gap: 50px;
	}

	.support {
		font-size: 18px;
		gap: 12px;
	}

	.support .icon {
		width: 45px;
		height: 45px;
	}

	.block .image img {
		width: 45px;
	}

	.userName {
		font-size: 18px;
	}
}
