@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,regular,500,600,700,800,900);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: min(1100px, 100% - 60px);
	margin: 0 auto;
}

body {
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
}

:root {
	--main-color: #00b6f0;
	--secondary-color: #ccf0fd;
	--main-button-color: #0232ae;
	--secondary-button-color: #5fb2ff;
	--dark-text: #020057;
	--white: #fff;
	--main-text-color: #1f1f1f;
	--secondary-text-color: #868686;
	--main-title-color: #000464;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

.mx-auto {
	margin: 0 auto;
}

.banner {
	padding: 10px;
	border-radius: 9px;
	width: max-content;
	color: var(--main-text-color);
}

.banner.delivered {
	background: #bfe6fa;
}

.banner.onTheWay {
	background: #f5f5f5;
}

.banner.giveOut {
	background: var(--white);
	border: 1px solid var(--main-color);
}

#root:has(dialog[open]) {
	display: grid;
}

body:has(dialog[open]) {
	overflow-y: hidden;
}

dialog[open] {
	justify-self: center;
	align-self: center;
}
