.ConsolidatedOrdersWrapper {
	display: grid;
	gap: 10px;
	margin: 20px 0;
}

.ConsolidatedOrders {
	padding-bottom: 24px;
	margin-bottom: 17px;
	border-bottom: 2px solid #e1e1e1;
}

.secondaryTitle {
	display: flex;
	align-items: center;
	column-gap: 5px;
	font-size: 30px;
	font-weight: 400;
	cursor: pointer;
	transition: margin-bottom 0.5s ease;
}

.secondaryTitle.expandedTitle {
	margin-bottom: 17px;
}

.secondaryTitle .titleIcon {
	transition: transform 0.3s ease;
	transform: translateY(4px);
}

.secondaryTitle .titleIcon.expandedIcon {
	transform: rotate(180deg);
}

.tableCont {
	transition: max-height 0.5s ease, opacity 0.5s ease;
	overflow: hidden;
}

.tableCont.show {
	opacity: 1;
	max-height: 1200px; /* Set a large max-height to accommodate content */
}

.tableCont.hide {
	max-height: 0;
	opacity: 0;
}

@media (max-width: 1024px) {
	.secondaryTitle {
		font-size: 26px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 15px;
	}
}

@media (max-width: 768px) {
	.secondaryTitle {
		font-size: 22px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 12px;
	}
}

@media (max-width: 480px) {
	.ConsolidatedOrders {
		padding-bottom: 20px;
		margin-bottom: 15px;
	}

	.secondaryTitle {
		font-size: 20px;
	}

	.secondaryTitle.expandedTitle {
		margin-bottom: 10px;
	}
}
